.notification {
  position: fixed;
  top: 50px;
  right: 10px;
z-index: 100;
  &--container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(43, 194, 23);
    padding: 15px 50px;
    border-radius: 5px;

    .close {
      position: absolute;
      right: 5px;
      top: 5px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 4px;
      border: none;
      outline: none;

      svg {
        width: 20px;
        height: 20px;
      }

    }

    .notification--text {}
  }
  .error {
    background-color: rgb(240, 61, 61);
  }

}