/* Reset.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  /* 1.15 is the default in browsers */
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
}

body {
  margin: 0;

  z-index: 1;
  height: 100vh;
  background-color: rgb(15, 22, 52);

}

header,
main,
footer {
  max-width: 1280px;
  margin: 0 auto;
}

/* Add any additional resets as needed */

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-transform: uppercase;
  color: antiquewhite;
}

button{
  cursor: pointer;
}