.dashboard--header {

  // background: rgba(15, 22, 52, 0.681);
  // -webkit-box-shadow: 0px -40px 62px 19px rgba(15, 22, 52, 0.798);
  // -moz-box-shadow: 0px -40px 62px 19px rgba(15, 22, 52, 0.798);
  // box-shadow: 0px -40px 62px 19px rgba(15, 22, 52, 0.798);

  // backdrop-filter: blur(6px);

  .l-dashboard--header {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    .btn--container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      z-index: 100;

      .added--card--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: rgb(43, 194, 23);
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-size: 1rem;

        span {
           
        }
      }

      .change-password--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: rgb(194, 123, 23);
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-size: 1rem;

        span {
           
        }
      }

      .logout--btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background-color: rgb(240, 61, 61);
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-size: 1rem;

        span {
           
        }
      }

    }
  }

}